.view-your-tickets-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #53aae9;
  border-radius: 0.2em;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.view-your-tickets-button:hover {
  background-color: #3079bd;
}
