.lotteryDrawCard {
  background-color: #dbcec2;
  width: 330px;
  padding: 10px;
}

.lotteryDrawCard .card-header {
  display: flex;
  justify-content: space-between;
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal;
}

.lotteryDrawCard .line {
  margin-top: 5px;
  margin-bottom: 3px;
  border: 1px solid #000;
}

.company-name .city {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5em;
  line-height: 0.95; /* Example: Sets the line height to 1.2 times the font size */
}

.company-name .lottery-name {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
  line-height: 0.9; /* Example: Sets the line height to 1.2 times the font size */
}

.company-name {
  margin-bottom: 15px;
}

.text {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3em;
}

.winning-numbers .numbers {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin: 0.2em auto 1em;
}

.winning-numbers .numbers .regular-ball {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.3em;
}

.winning-numbers .bonus-ball {
  grid-column-start: end;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #3079bd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.3em;
}

.more-info {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.7em;
}
.info-box {
  display: flex;
  justify-content: space-between;
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #cbb5a0;
  border-radius: 0.2em;
}

.view-your-tickets-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #53aae9;
  border-radius: 0.2em;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
