.lottery-ticket-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lottery-ticket-page h1 {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.lottery-tickets {
  margin-bottom: 20px;
}

.lottery-tickets h2 {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.all-lottery-tickets {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.gen-ticket-button {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  background-color: #53aae9;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.gen-ticket-button:hover {
  background-color: #3079bd;
}
