.lottery-draw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lottery-draw h1 {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.lottery-tickets h2 {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.all-lottery-tickets {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
